.footer {
  background-color: var(--neutral-200);
  gap: 2rem;
}
.footer__inner-wrapper {
}
.footer__border-line {
  height: 1px;
  background-color: var(--neutral-400);
  width: 80vw;
}
.footer__copyright-text {
  width: max(70vw, 350px);
  text-align: center;
  color: var(--neutral-700);
}
